<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="baseurl" value="https://www.reddit.com/"/>
		<add key="oauthurl" value="https://oauth.reddit.com/"/>
		<add key="secret" value="Oif_vzUl172FuMjOYS1Keod0mXHrjQ"/>
		<add key="client_id" value="m2wRkX8IpaY1u8v6oN7Baw"/>
		<add key="app_client_id" value="BF4HDny1XofDp2ZwrmOYbA"/>
		<add key="redirecturi" value="http://127.0.0.1:8080/auth/"/>
		<add key="useragent" value="Teddit by eospy"/>
		
	</appSettings>
</configuration>